:root {
    --white: #FFFFFF;
    --dark: #1A1A1A;
    --total-dark: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.barra-navegacion {
    height: auto;
    width: 100%;
}

.barra_navegacion__boton {
    cursor: pointer;
    height: 30px;
    margin-left: 2px;
    margin-top: 2px;
    outline: 1px solid var(--white);
    padding: 7px 5px;
    width: 30px;
}

.barra-navegacion--dark {
    background-color: var(--dark);
}

.barra-navegacion--l {
    display: none;
}

.barra-navegacion--s {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.barra-navegacion__enlaces {
    display: flex;
    flex-flow: row wrap;
}


.barra-navegacion__enlaces__enlace {
    display: inline-block;
    padding: 15px 5px;
    transition: background-color 300ms;
    transition-timing-function: linear;
}

.barra-navegacion__enlaces__enlace:link,
.barra-navegacion__enlaces__enlace:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.barra-navegacion__enlaces__enlace:hover {
    background-color: var(--total-dark);
}

.contenedor {
    width: 90%;
    margin: auto;
}

.formulario {
    display: flex;
    flex-flow: column wrap;
}

.formulario__fieldset {
    margin-bottom: 10px;
}

.formulario__fieldset__label {
    font-size: 1.1rem;
    margin-left: 5px;
}

.formulario__fieldset__legend {
    font-weight: bold;
    text-align: center;
}

.formulario__fieldset__text {
    margin-bottom: 15px;
    width: 90%;
    height: 1.5rem;
    margin-left: 5px;
}

.formulario__fieldset__text__error {
    border: 1px solid #FF0000;
}

.formulario__fieldset__error {
    color: #FF0000;
    margin-bottom: 15px;
    margin-left: 5px;
}

main {
    margin-top: 15px;
}

.texto-blanco {
    color: var(--white);
}

.texto-centrado {
    text-align: center;
}

.titulo {
    margin: 5px 0;
}